@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Rubik-Light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Rubik-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Rubik-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Rubik-SemiBold.woff2') format('woff2');
  }

  html {
    font-family: 'Rubik', sans-serif;
  }
}

.chip {
  @apply rounded bg-primary/[.12] px-1 py-px;
}
